*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-header {
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 93.59%), url('../assets/banner.jpg'), no-repeat;
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 20px;
}

.main-header nav {
  height: 10%;
}

.main-header nav ul {
  width: 70%;
  padding-left: 300px;
}

.main-header nav p {
  width: 20%;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
  align-items: center;
}

.main-header nav p input {
  width: 80%;
  height: 20px;
}

.main-header .content-center {
  padding: 60px 0;
}

.main-header .content-center h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  font-style: normal;
  color:rgba(240, 211, 181, 1);
  width: 30%;
}

.main-header .content-center img {
  margin: 25px 0;
}

.main-header .content-center p {
  width: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main-header .content-center p span {
  color: orange;
}

.main-header .content-center p strong {
  color: orange;
}

.main-header .btn {
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid orange;
  margin: 2px;
}
.main-header .color {
  background-color: orange;
}

.main-header section a img {
  width: 15px;
  margin-left: 5px;
}

.main-header section ul li {
  margin: 0 10px;
  margin-bottom: 10px;
}

.main {
  width: 100vw;
}

.main .title h2 {
  margin: 50px;
  padding-top: 60px;
  color: #C87B4D;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 24px;
}

.main .title h3 {
  margin: 50px;
  color: #C87B4D;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.main .proyect {
  width: 100vw;
}

.main .proyect .container {
  border: 1px outset black;
  border-radius: 8px;
  margin: 20px;
  width: 45%;
  height: 50%;
}

.main .proyect .container .infografia {
  border-radius: 8px;
  width: 100%;
}

.main .proyect .container h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.main .proyect .container .place-date p {
  padding: 0 10px;
  margin: 10px 0;
}

.main .proyect .container .place-date p {
  padding: 0 10px;
  margin: 10px 0;
}

.main .proyect .container .dev img {
  padding-left: 10px;
  margin: 10px 0;
}

.main .proyect .container .dev p {
  padding-left: 10px;
  margin: 10px 0;
} 

.main .proyect .container .atributte p {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  width: 55px;
  height: 20px;
}

footer {
  background: rgba(200, 123, 77, 1);
  padding: 40px;
  margin-top: 20px;
}

footer .navigation ul li {
  padding-right: 20px;
  margin: 10px 0;
}

footer .social ul li {
  padding-right: 20px;
  margin: 10px 0;
}
footer .social p {
  margin: 10px 0;
}

footer .powered p {
  margin: 10px 0;
}


/* ########### Clases de Utilidad ############ */

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}